{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
          {% csrf_token %}
          <form method="POST" id="form" action="">
            {% csrf_token %}
            <p>
              <label for="name">Name:</label>
              <input type="text" placeholder="Your Name" maxlength="200" required="" id="name" name="name">
            </p>
            <p>
              <label for="guests_num">Number of guests:</label>
              <input type="number" placeholder="How many people are coming?" id="guests_num" required="" name="guests_num" min=1>
            </p>

            <p>
              <label for="bookingdate">Reservation date:</label>
              <input type="datetime-local" placeholder="Reservation Date" id="bookingdate" name="bookingdate" required="" maxlength="200">
            </p>
      
            <input type="submit" id="button" value="Reserve" />
          </form> 
      </div>
      <!--End col-->

  </article>
</section>
{% endblock %}

